<html>
<body>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: "get",
        url: "/api/v1/ping",
        async: false,
        success: function (data) {
            if (data.code !== 200) {
                $(location).attr("href", "login")
            }
        },
        error: function () {
            $(location).attr("href", "login")
        }
    });
</script>
<link href="https://cdn.staticfile.org/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.staticfile.org/bootstrap/5.0.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/api/js/diagram-editor.js"></script>

<div class="container">
    <div class="input-group" style="margin-top:30px">
        <input id="searchForImage" type="text" class="form-control"
               aria-label="Text input with segmented dropdown button">
        <button class="btn btn-outline-secondary" type="button" onclick="SearchForImage()" style="z-index: 0">搜索</button>
    </div>
    <div class="d-grid gap-2" style="margin-bottom: 20px;margin-top:10px">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            新建流程图
        </button>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4" id="gallery">

    </div>

    <textarea id="copy" style="display: none"></textarea>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                复制成功
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新建流程图</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">文件名</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">支持数字字母组合</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addNewImage()">Enter</button>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-image {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-image-content {
        margin: auto;
        display: block;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-image-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }
</style>
<div id="myModal1" class="modal modal-image">
    <img class="modal-image-content" id="__img01" onmousewheel="return zoomImg(this)"
         style="width: auto;height: auto;max-width: 100%;max-height: 100%;background: #FFFFFF"
    >
</div>
<script>
    var imageModal = document.getElementById("myModal1");
    imageModal.addEventListener('click',function (e){
        console.log(e.target)
        if(e.target.className!=='modal-image-content'){
            disShowImage();
        }else{
            console.log("click image");
        }
    })
    var modalImg = document.getElementById("__img01");
    function disShowImage() {
        imageModal.style.display = "none";
    }
    function zoomImg(obj) {
        // 一开始默认是100%
        let zoom = parseInt(obj.style.zoom, 10) || 100;
        // 滚轮滚一下wheelDelta的值增加或减少120
        zoom += event.wheelDelta / 12;
        if (zoom > 0) {
            obj.style.zoom = zoom + '%';
        }
        return false;
    }

    function previewImage(targetSrc){
        imageModal.style.display = "block";
        modalImg.style.zoom = "reset";
        modalImg.src = targetSrc;
    }

    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
        keyboard: false
    })
    let searchKey = "";

    function SearchForImage() {
        console.log($("#searchForImage").val(),searchKey);
        if ($("#searchForImage").val() !== searchKey) {
            searchKey = $("#searchForImage").val();
            $.ajax({
                type: "get",
                url: "/api/v1/images?key="+searchKey,
                async: true,
                success: function (data) {
                    console.log(data)
                    if (data.status === 200) {
                        $("#gallery").empty();
                        console.log(data.data)
                        const obj = data.data;
                        Object.getOwnPropertyNames(obj).forEach(function (key) {
                            console.log(key, obj[key]);
                            addDrawIoData(key, obj[key])
                        })
                    }
                }
            });
        }
    }

    function addNewImage() {
        var key = $("#exampleInputEmail1").val();
        console.log(key)
        myModal.toggle()
        if (key !== "") {
            $.ajax({
                type: "put",
                url: "/api/v1/image?key=" + key,
                async: true,
                success: function (data) {
                    if (data && data.status === 200 && data.success === true) {
                        addDrawIoData(key, data.data);
                    } else {
                        alert(JSON.stringify(data));
                    }
                }
            });
        }

    }

    function addDrawIoData(key, value) {
        var tmpHtml = "<div class=\"col\"><div class=\"card\" style=\"width: 18rem;\">" +
            "<img src=\"" + value + "\"" + "class=\"card-img-top\" alt=\"" + key + "\" " +
            "onclick='DiagramEditor.editElement(this);'  style=\"height: 200px\"" +
            "> <div class=\"card-body\">" +
            "<p class=\"card-text\">" + key + "</p>" +
            "<div class=\"btn-group\" role=\"group\" aria-label=\"Basic example\">" +
            "<a href=\"#\" class=\"btn btn-outline-primary\" onclick='copyUrl(\"" + value + "\")'>复制</a>" +
            "<a href=\"#\" class=\"btn btn-outline-primary\" onclick='copyUrl(\"![" + key + "](" + value + ")\")'>复制MD</a>" +
            "<a href=\"#\" class=\"btn btn-outline-primary\" onclick='previewImage(\"" + value + "\")'>查看</a>" +
            "</div></div></div></div>";
        $("#gallery").prepend(tmpHtml);
    }

    var toastLiveExample = document.getElementById('liveToast')

    function copyUrl(url) {
        $("#copy").text(url).show();
        var ele = document.getElementById("copy");
        ele.select();
        document.execCommand("copy", false, null);
        $("#copy").text(url).hide();
        console.log("复制成功");
        var toast = new bootstrap.Toast(toastLiveExample)
        toast.show()
    }

    $(function () {
        $.ajax({
            type: "get",
            url: "/api/v1/images",
            async: true,
            success: function (data) {
                console.log(data)
                if (data.status === 200) {
                    console.log(data.data)
                    const obj = data.data;
                    Object.getOwnPropertyNames(obj).forEach(function (key) {
                        console.log(key, obj[key]);
                        addDrawIoData(key, obj[key])
                    })
                }
            }
        });
    })
</script>

</body>
</html>
