<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Gallery</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="padding-bottom: 0.2rem">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ahsup</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/gallery">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container" style="width: 80%">
    <div style="margin-top: 4em" id="mainShow"></div>
    <nav aria-label="Page navigation example" id="navigationBar" style="margin-top: 0.8em">
        <ul class="pagination justify-content-center" id="navigationBarUl">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted" style="text-align: center;"><p class="text-muted">&copy; 2021–2022 皖ICP备2022000174号</p></span>
    </div>
</footer>
<script>
    var totalPage;
    var currentPage;
    var pageSize;

    function generatedList(blog){
        let tmp = "<div class=\"card mb-3\" ><div class=\"row g-0\"><div class=\"col-md-3\">";
        if (blog.cover === "") {
            tmp += "<img src=\"https://image.ahsup.top/image/6f3d74ef98c0456493410f984476e826.png\" class=\"img-fluid rounded-start\">";
        } else {
            tmp += "<img src=\"" + blog.cover + "\" class=\"img-fluid rounded-start\">";
        }
        tmp+="</div><div class=\"col-md-9\"><div class=\"card-body\"><h5 class=\"card-title\">"+
            "<a target=\"_Blank\" href=\"/post/" + blog.id + ".html\">"+blog.title+"</a></h5>" +
            "<p class=\"card-text\">" + blog.short_cut + "</p>" +
            "<p class=\"card-text\"><small class=\"text-muted\">"+blog.release_date+"</small></p>" +
            "</div></div></div></div>";
        $("#mainShow").append(tmp);
    }

    function initNavigationBar() {
        $('#navigationBarUl').empty();
        $('#navigationBarUl').append("<li class=\"page-item\">\n" +
            "                <a class=\"page-link\" onclick='changePage(currentPage-1)' aria-label=\"Previous\">\n" +
            "                    <span aria-hidden=\"true\">&laquo;</span>\n" +
            "                </a>\n" +
            "            </li>");
        for (let i = 1; i <= totalPage; i++) {
            $('#navigationBarUl').append("<li class=\"page-item " + (i === currentPage ? "active" : "") + " \"><a class=\"page-link\" onclick='changePage(" + i + ")'>" + i + "</a></li>");
        }
        $('#navigationBarUl').append("<li class=\"page-item\">\n" +
            "                <a class=\"page-link\" onclick='changePage(currentPage+1)' aria-label=\"Next\">\n" +
            "                    <span aria-hidden=\"true\">&raquo;</span>\n" +
            "                </a>\n" +
            "            </li>")
    }

    function changePage(targetPage) {
        console.log("try to change page to", targetPage);
        if (targetPage > 0 && targetPage <= totalPage) {
            if (currentPage !== targetPage) {
                currentPage = targetPage;
                reloadPage();
            }
        }
    }

    function reloadPage() {
        $.ajax({
            type: "get",
            url: "/api/v1/publish?size=" + pageSize + "&offset=" + Math.max(((currentPage - 1) * pageSize), 0),
            async: false,
            success: function (data) {
                if (data.code === 200) {
                    $("#mainShow").empty();
                    data.data.blogs.forEach((value => {
                        generatedList(value);
                    }));
                    if (data.data.blogs.length === data.data["length"]) {
                        console.log("should hide navigationBar")
                        $("#navigationBar").hide();
                    } else {
                        totalPage = Math.ceil(data.data["length"] / data.data.page_size);
                        pageSize = data.data.page_size;
                        initNavigationBar();
                    }
                }
            }
        });
    }

    window.onload = function () {
        $.ajax({
            type: "get",
            url: "/openapi/v1/publish",
            async: false,
            success: function (data) {
                if (data.code === 200) {
                    data.data.blogs.forEach((value => {
                        generatedList(value);
                    }));
                    if (data.data.blogs.length === data.data["length"]) {
                        console.log("should hide navigationBar")
                        $("#navigationBar").hide();
                    } else {
                        totalPage = Math.ceil(data.data["length"] / data.data.page_size);
                        currentPage = 1;
                        pageSize = data.data.page_size;
                        initNavigationBar();
                    }
                }
            }
        });
    }
</script>
</body>
</html>
