<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SuperMarkdownEditor</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $.ajax({
            type: "get",
            url: "/api/v1/ping",
            async: false,
            success: function (data) {
                if (data.code !== 200) {
                    $(location).attr("href", "login")
                }
            },
            error: function () {
                $(location).attr("href", "login")
            }
        });
    </script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sidebars.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/sidebars.js"></script>
    <script src="lib/editor.md/editormd.js"></script>
    <link rel="stylesheet" href="themes/default/style.min.css"/>
    <script src="js/jstree.js"></script>
    <link rel="stylesheet" href="lib/editor.md/css/editormd.css"/>
    <script src="lib/editor.md/plugins/image-handle-paste/image-handle-paste.js"></script>
    <style type="text/css">
        html, body {
            margin: 0;
            height: 100%;
        }

        .container-fluid{
            display:flex;
        }

        .sidebar{
            height: 100vh;
            width: 10%;
            position:relative;
        }

        .dragholder{
            position:absolute;
            height: 100px;
            width: 5px;
            background: blue;
            right:0;
            top:50%;
            transform: translate(-50%, -50%);
            border-radius: 80px;
        }

        .dragholder:hover{
            cursor: move;
        }

        .content{
            /*background:red;*/
            height:100vh;
            width: 80%;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1000; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            /*.modal-content {*/
            /*    width: 100%;*/
            /*}*/
        }
    </style>
</head>

<body>


<div class="container-fluid h-100">
<!--    <div class="row h-100">-->
<!--        <div class="col-1 w-100">-->
<!--            <input type="text" class="w-100">-->
<!--            <div id="SuperJSTree" class="w-100" style="text-align: left"></div>-->
<!--        </div>-->
        <div class="sidebar">
            <div id="SuperJSTree" class="w-100" style="text-align: left"></div>
            <div class="dragholder"></div>
        </div>
<!--        <div class="col-11 h-100">-->
            <div id="test-editor" class="content">
                <textarea style="display:none;">### 关于 Editor.md
### 主要特性
- 支持“标准”Markdown / CommonMark和Github风格的语法，也可变身为代码编辑器；
- 支持实时预览、图片（跨域）上传、预格式文本/代码/表格插入、代码折叠、搜索替换、只读模式、自定义样式主题和多语言语法高亮等功能；
- 支持ToC（Table of Contents）、Emoji表情、Task lists、@链接等Markdown扩展语法；
- 支持TeX科学公式（基于KaTeX）、流程图 Flowchart 和 时序图 Sequence Diagram;
- 支持识别和解析HTML标签，并且支持自定义过滤标签解析，具有可靠的安全性和几乎无限的扩展性；
- 支持 AMD / CMD 模块化加载（支持 Require.js & Sea.js），并且支持自定义扩展插件；
- 兼容主流的浏览器（IE8+）和Zepto.js，且支持iPad等平板设备；
- 支持自定义主题样式；
    </textarea>
            </div>
<!--        </div>-->
<!--    </div>-->
</div>

<div id="myModal" class="modal" onclick="disShowImage()">
    <img class="modal-content" id="img01" onmousewheel="return zoomImg(this)"
         style="width: auto;height: auto;max-width: 100%;max-height: 100%;">
</div>
<script>
    let sidebar = document.querySelector(".sidebar");
    let content = document.querySelector(".content");
    let dragholder = document.querySelector(".dragholder");

    function onMouseMove(e){
        sidebar.style.cssText = `width: ${ e.pageX }px`;
        content.style.cssText = `width: ${ window.innerWidth - e.pageX }px`;
    }

    function onMouseDown(e){
        document.addEventListener('mousemove',onMouseMove);
    }

    function onMouseUp(e){
        document.removeEventListener('mousemove',onMouseMove);
    }

    dragholder.addEventListener('mousedown', onMouseDown);
    dragholder.addEventListener('mouseup', onMouseUp);
    content.addEventListener('mouseup', onMouseUp);
    document.addEventListener('mouseup', onMouseUp);
    function getQueryVariable(variable) {
        let query = window.location.search.substring(1);
        let vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
            let pair = vars[i].split("=");
            if (pair[0] === variable) {
                return pair[1];
            }
        }
        return "";
    }

    let article_id = getQueryVariable("id");
    var select_node_dev;
    var select_before = "";
    var select_before_timestamp = 0;
    var select_current = "";
    var select_current_timestamp = 0;
    var open_file_path;
    var global_data;
    var init_flag = false;
    var imageClicked = false;
    var softwareName = "SuperMarkdownEditor";
    var imageUploadURL = "/upload/image";
    var editorMarkdownStatus = {
        changed: false,
        current_file_path: [],
        path: "",
        origin_path: [],
        node: null,
    }

    function uuid_generate() {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
            s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        s[8] = s[13] = s[18] = s[23] = "-";

        var uuid = s.join("");
        return uuid;
    }

    var editor = editormd("test-editor", {
        width: "100%",
        height: "100%",
        path: "lib/editor.md/lib/",
        syncScrolling: "single",
        emoji: false,
        taskList: true,
        tocm: true,         // Using [TOCM]
        tex: true,
        flowChart: true,
        sequenceDiagram: true,
        toolbarIcons: function () {
            return ['save'].concat(editormd.toolbarModes['simple']); // full, simple, mini
        },
        toolbarIconTexts: {
            "save": "保存"
        },
        toolbarHandlers: {
            "save": function () {
                if (editorMarkdownStatus.changed) {
                    $.ajax({
                        type: "post",
                        url: "/api/v1/content",
                        async: true,
                        data: JSON.stringify({
                            content: editor.getMarkdown(),
                            id: article_id
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.status === "success") {
                                editorMarkdownStatus.changed = false;
                            }
                        }
                    });
                }
            }
        },
        imageUpload: true,
        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL: "/api/v1/image",
        onchange: function () {
            editorMarkdownStatus.changed = true;
        }
    });

    var temp_select_node;
    editor.imagePaste();

    function InitWorkSpaceTree(workSpaceData) {
        if (init_flag || !workSpaceData) return;
        console.log("start init work space", workSpaceData);
        $('#SuperJSTree').on('create_node.jstree', function (e, data) {
            select_node_dev = data;
            $.ajax({
                type: "post",
                url: "/api/v1/create",
                async: false,
                data: JSON.stringify({
                    type: data.node.type,
                    name: data.node.text,
                    id: data.node.id,
                    parent_id: data.node.parent,
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status === "success") {
                    }
                }
            });

        }).on('rename_node.jstree', function (e, data) {
            select_node_dev = data;
            $.ajax({
                type: "post",
                url: "/api/v1/rename",
                async: false,
                data: JSON.stringify({
                    id: data.node.id,
                    name: data.node.text
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.status === "success") {
                    }
                }
            });
        }).on('changed.jstree', function (e, data) {
            if (data.selected.length) {
                select_current = data.selected[0];
                select_current_timestamp = $.now();
                if (select_current === select_before && (select_current_timestamp - select_before_timestamp) < 300) {
                    //double click-> when select a file, then open the file in markdown editor
                    select_before = "";
                    select_before_timestamp = select_current_timestamp;
                    global_data = data.instance.get_node(select_current);
                    console.log(data.instance.get_node(select_current));
                    console.log(data.instance.get_path(select_current));
                    console.log("The selected node is:" + global_data.text, global_data.type, global_data.id, global_data.parent);
                    open_file_path = data.instance.get_path(data.node);
                    // before open a new file, should save old file first;
                    if (editorMarkdownStatus.changed) {
                        console.log("content changed, should save before open a new file");
                        article_id = editorMarkdownStatus.node.id;
                        $.ajax({
                            type: "post",
                            url: "/api/v1/content",
                            async: true,
                            data: JSON.stringify({
                                id: article_id,
                                content: editor.getMarkdown()
                            }),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                if (data.code === 200) {
                                    editorMarkdownStatus.changed = false;
                                }
                            }
                        });
                    }
                    editorMarkdownStatus.node = data.node;
                    $.ajax({
                        type: "get",
                        url: "/api/v1/content?id=" + data.node.id,
                        async: false,
                        success: function (d) {
                            if (d.code === 200) {
                                editor.setMarkdown(d.data.data);
                                // editorMarkdownStatus.path = d.data.path;
                                // editorMarkdownStatus.origin_path = data.instance.get_path(data.node);
                                editorMarkdownStatus.changed = false;
                                $('title').html(softwareName + "[" + d.data.title + "]");
                            }
                        }
                    })
                } else {
                    select_before = select_current;
                    select_before_timestamp = select_current_timestamp;
                }

            }
        }).jstree({
            'core': {
                'data': workSpaceData,
                'check_callback': function (o, n, p, i, m) {
                    return true;
                },
                'error': function (r) {
                    console.log("**************error**********");
                    console.log(r);
                },
                'themes': {
                    'responsive': false,
                    'variant': 'small',
                    'stripes': true
                },
                dblclick_toggle: false,
            },
            'sort': function (a, b) {
                return this.get_type(a) === this.get_type(b) ? (this.get_text(a) > this.get_text(b) ? 1 : -1) : (this.get_type(a) >= this.get_type(b) ? 1 : -1);
            },
            'contextmenu': {
                'items': function (node) {
                    let tmp = $.jstree.defaults.contextmenu.items();
                    delete tmp.create.action;
                    tmp.create.label = "New";
                    tmp.create.separator_after = false;
                    tmp.create.submenu = {
                        "create_folder": {
                            "label": "Folder",
                            "action": function (data) {
                                let inst = $.jstree.reference(data.reference);
                                let obj = inst.get_node(data.reference);
                                let current_id = uuid_generate();
                                console.log("generate id:", current_id)
                                inst.create_node(obj, {
                                    type: "default",
                                    id: current_id
                                }, "last", function (new_node) {
                                    setTimeout(function () {
                                        inst.edit(new_node);
                                    }, 0);
                                });
                            }
                        },
                        "create_file": {
                            "label": "File",
                            "action": function (data) {
                                let inst = $.jstree.reference(data.reference);
                                console.log(inst.get_node(data.reference));
                                let obj = inst.get_node(data.reference);
                                let current_id = uuid_generate();
                                console.log("generate id:", current_id);
                                inst.create_node(obj, {type: "file", id: current_id}, "last", function (new_node) {
                                    setTimeout(function () {
                                        inst.edit(new_node);
                                    }, 0);
                                });
                            }
                        },
                        "create_brother": {
                            "label": "BroFolder",
                            "action": function (data) {
                                let current_id = uuid_generate();
                                console.log("generate id:", current_id);
                                $("#SuperJSTree").jstree(true).create_node('#', {
                                    type: "default",
                                    id: current_id
                                }, "last", function (new_node) {
                                    setTimeout(function () {
                                        $("#SuperJSTree").jstree(true).edit(new_node);
                                    }, 0);
                                });
                            }
                        }
                    };
                    if (this.get_type(node) === "file") {
                        delete tmp.create;
                        tmp["Open"] = {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Open",
                            "action": function (data) {
                                //TODO open in new windows
                                console.log("nodes:", select_current);// 需要根据path换一个id
                                $.ajax({
                                    type: "post",
                                    url: "/message",
                                    async: true,
                                    data: JSON.stringify({
                                        command: "open_new_windows.jstree",
                                        data: {
                                            id: select_current,
                                        }
                                    }),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                    }
                                });
                            }
                        }
                    } else if (node.parent !== '#') {
                        delete tmp.create.submenu.create_brother;
                    }
                    console.log(node);
                    return tmp;
                }
            },
            "types": {
                "#": {
                    "max_children": 100,
                    "max_depth": 4,
                    "valid_children": ["root", "default"]
                },
                "root": {
                    "icon": "svg/folder-solid.svg",
                    "valid_children": ["default"]
                },
                "default": {
                    "icon": "svg/folder-solid.svg",
                    "valid_children": ["default", "file"]
                },
                "file": {
                    "icon": "svg/file-solid.svg",
                    "valid_children": []
                }
            },
            'unique': {
                'duplicate': function (name, counter) {
                    return name + ' ' + counter;
                }
            },
            'plugins': ['state', 'dnd', 'sort', 'types', 'contextmenu', 'unique']
        });
        init_flag = true;
    }

    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");

    // When the user clicks on <span> (x), close the modal
    function disShowImage() {
        modal.style.display = "none";
    }

    function zoomImg(obj) {
        // 一开始默认是100%
        let zoom = parseInt(obj.style.zoom, 10) || 100;
        // 滚轮滚一下wheelDelta的值增加或减少120
        zoom += event.wheelDelta / 12;
        if (zoom > 0) {
            obj.style.zoom = zoom + '%';
        }
        return false;
    }

    function ShowImageFunction(srcUrl) {
        console.log(srcUrl);
        modal.style.display = "block";
        modalImg.style.zoom = "reset";
        modalImg.src = srcUrl;
        imageClicked = true;
    }

    window.onload = function () {
        $.ajax({
            type: "get",
            url: "/api/v1/tree",
            async: false,
            success: function (data) {
                if (data.code === 200) {
                    InitWorkSpaceTree(data.data);
                }
            }
        });
        if (article_id !== "") {
            $.ajax({
                type: "get",
                url: "/api/v1/content?id=" + article_id,
                async: false,
                success: function (d) {
                    article_id = "";
                    if (d.code === 200) {
                        editor.setMarkdown(d.data.data);
                        // editorMarkdownStatus.path = d.data.path;
                        // editorMarkdownStatus.origin_path = data.instance.get_path(data.node);
                        editorMarkdownStatus.changed = false;
                        $('title').html(softwareName + "[" + d.data.title + "]");
                    }
                }
            })
        }
        document.onkeydown = function (oEvent) {
            var oEvent = oEvent || window.oEvent;
            //获取键盘的keyCode值
            var nKeyCode = oEvent.code;
            //获取ctrl 键对应的事件属性
            var bCtrlKeyCode = oEvent.ctrlKey || oEvent.metaKey;
            if (nKeyCode === "KeyS" && bCtrlKeyCode) {
                console.log("ctrl + s");
                oEvent.preventDefault();
                if (editorMarkdownStatus.changed) {
                    //only changed file can be saved
                    article_id = editorMarkdownStatus.node.id;
                    $.ajax({
                        type: "post",
                        url: "/api/v1/content",
                        async: true,
                        data: JSON.stringify({
                            id: article_id,
                            content: editor.getMarkdown()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.code === 200) {
                                editorMarkdownStatus.changed = false;
                            }
                        }
                    });
                }

            } else if (nKeyCode === "Escape" && imageClicked) {
                imageClicked = false;
                modal.style.display = "none";
            }
        }
    }
</script>
</body>
</html>
