<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $.ajax({
            type: "get",
            url: "/api/v1/ping",
            async: false,
            success: function (data) {
                if (data.code !== 200) {
                    $(location).attr("href", "login")
                }
            },
            error: function () {
                $(location).attr("href", "login")
            }
        });
    </script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css" rel="stylesheet">

    <script src="js/jquery-viewer.js"></script>
</head>
<body>
<div class="container-fluid" id="mainShow">
    <!--    <div class="card" style="margin-left: 40px;margin-right: 40px;margin-top: 20px;">-->
    <!--        <h5 class="card-header">目录</h5>-->
    <!--        <div class="card-body">-->
    <!--            <div class="row row-cols-1 row-cols-md-4 g-4">-->
    <!--                <div class="col">-->
    <!--                    <div class="card h-100">-->
    <!--                        <div class="card-body">-->
    <!--                            <h5 class="card-title">Card title</h5>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col">-->
    <!--                    <div class="card h-100">-->
    <!--                        <div class="card-body">-->
    <!--                            <h5 class="card-title">Card title</h5>-->
    <!--                            <p class="card-text">This is a short card.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col">-->
    <!--                    <div class="card h-100">-->
    <!--                        <div class="card-body">-->
    <!--                            <h5 class="card-title">Card title</h5>-->
    <!--                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
    <!--                                to additional content.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col">-->
    <!--                    <div class="card h-100">-->
    <!--                        <div class="card-body">-->
    <!--                            <h5 class="card-title">Card title</h5>-->
    <!--                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in-->
    <!--                                to additional content. This content is a little bit longer.</p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

<script>
    function generatedCard(treeNode) {
        if (treeNode.type === "default") {
            let tem = "";
            if (treeNode.hasOwnProperty("children") && treeNode.children.length > 0) {
                for (let index = 0, len = treeNode.children.length; index < len; index++) {
                    tem = tem + generatedCard(treeNode.children[index]);
                }
            }
            return tem;
        } else {
            return "<div class=\"col\"><div class=\"card h-100\"><div class=\"card-body\"><h5 class=\"card-title\">" + treeNode.text + "</h5><a href=\"/main?id="+treeNode.id+"\" class=\"btn btn-secondary btn-sm\">Edit</a>  <a href=\"/show?id="+treeNode.id+"\" class=\"btn btn-secondary btn-sm\">Open</a></div></div></div>";
        }
    }

    function generatedList(treeNode) {
        let tem = "<div class=\"card\" style=\"margin-left: 40px;margin-right: 40px;margin-top: 20px;\"><h5 class=\"card-header\">" + treeNode.text + "</h5>" +
            "<div class=\"card-body\"><div class=\"row row-cols-1 row-cols-md-4 g-4\">";
        if (treeNode.hasOwnProperty("children") && treeNode.children.length > 0) {
            for (let index = 0, len = treeNode.children.length; index < len; index++) {
                tem = tem + generatedCard(treeNode.children[index]);
            }
        }
        tem = tem + "</div></div></div>";
        $("#mainShow").append(tem);
    }

    // function generatedList(treeNode) {
    //     if (treeNode.type === "default") {
    //         // is dir
    //         let tem = "<div class=\"media mt-3\"><a class=\"mr-3\" href=\"#\"></a><div class=\"media-body\"><h5 class=\"mt-0\">" + treeNode.text + "</h5>";
    //         if (treeNode.hasOwnProperty("children")) {
    //             if (treeNode.children.length > 0) {
    //                 for (let index = 0, len = treeNode.children.length; index < len; index++) {
    //                     tem = tem + generatedList(treeNode.children[index]);
    //                 }
    //             }
    //         }
    //         tem = tem + "</div></div>";
    //         return tem;
    //     } else {
    //         return "<div class=\"media mt-3\"><a class=\"mr-3\" href=\"#\"></a><div class=\"media-body\"><h5 class=\"mt-0\"><a class=\"btn btn-outline-primary btn-lg btn-block\" href='/show?id=" + treeNode.id + "'>" + treeNode.text + "</a></h5></div></div>";
    //     }
    // }
    //
    window.onload = function () {
        $.ajax({
            type: "get",
            url: "/api/v1/tree",
            async: false,
            success: function (data) {
                if (data.code === 200) {
                    data.data.forEach((value => {
                        generatedList(value);
                    }))
                }
            }
        });


    }

</script>
</body>
</html>
